//.shadowX{text-shadow: grey 5px 5px 3px;}
//td{width:100px;}
//body{background:#f5f5f0;/*background-image: url(https://www.waze.com/assets/press/map_wazers@2x-e52b336c63ce7d3ee56b4aa7fe853007.png);*/}
//table{}
#flashMessage{color:red;font-size:23px;}

#tableResults{font-size:12px;}
#resultFinal p {font-size:14px;}

#hiddenInstructions {font-size:14px;margin-top:22px;}
